@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #000;
}

.main{
    position: relative;
    min-height: 100vh;
    // padding: 0 100px;

}

.head{
    position: absolute;
    display: flex;
    justify-content: space-between;
    // background: aqua;
    align-items: center;
    width: 100%;
    padding: 15px 50px;
    z-index: 100;

    &.active{
        display: none;
    }

    &__logo{
        // background: gray;
        display: inline-block;
        // background: aqua;
        position: relative;
        // overflow: hidden;
        max-width: 250px;
        max-height: 100px;
        height: 100%;

        a{
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            text-decoration: none;
            color: rgba(255,60,47,.6);
            text-transform: uppercase;
            letter-spacing: -3px;
        }

        .langs{
            position: absolute;
            // bottom: 0;
            left: 0;
            top: 40px;
            background: rgba(0,0,0,.5);
            // background: aqua;
            width: 30px;
            overflow: hidden;
            padding: 1px 2px;
            height: 40px;
            border-radius: 5px;
            transition: height 0.5s;
            box-sizing: border-box;
            backdrop-filter: blur(5px);
            transition-delay: 0.25s;
            

            span{
                position: relative;
                // background: green;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // gap: 5px;
                margin-top: 8px;
                cursor: pointer;
                z-index: 100;

                img{
                    width: 100%;
                    object-fit: cover;
                }

                &:first-child{
                    margin-top: 13px;
                }
            }

            // &:hover{
            //     height: 140px;
            // }

            &::before{
                content: '+';
                position: absolute;
                top: -5px;
                left: 0px;
                color: #fff;
                // background: red;
                width: 100%;
                height: 20px;
                cursor: pointer;
                transition: transform 1s;
                font-size: 1.2rem;
                text-align: right;
                transform: translate(-4px, 0px);

            }

            &.active{
                height: 140px;

                &::before{
                    top: 0;
                    transform: translate(13px, -5px) rotate(135deg);
                }
            }
        }
    }
    &__nav{
        // background: gray;
        position: relative;
        padding: 5px;

        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            li{
                position: relative;
                list-style: none;
                // background: aqua;
                padding: 0 10px;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 300;
                    transition: 0.5s;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    bottom: -10px;
                    left: 0;
                    border-radius: 10px;
                    transition: 1s;
                }

                &:hover{
                    a{
                        letter-spacing: 1px;
                    }

                    &::after{
                        width: 100%;
                        background: rgba(255,60,47,1);
                    }
                }
            }

        }
    }
    .search{
        // background: gray;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
        .icon{
            position: absolute;
            z-index: 10;
            margin-left: 8px;
            cursor: pointer;

            ion-icon{
                color: #fff;
                font-size: 1rem;
            }
        }

        .search_icon{
            // background: green;
            overflow: hidden;
            input{
                position: relative;
                border: 1px solid rgba(255,255,255,.5);
                padding: 5px 15px;
                border-radius: 5px;
                color: #fff;
                backdrop-filter: blur(5px);
                background: transparent;
                outline: none;
                padding-left: 30px;

                &::placeholder{
                    color: #fff;
                }
            }
        }
    }
}

.trading{
    position: relative;
    //background: aqua;
    top: 0;
    left: 0;
    // max-width: 100vw;
    width: 100%;
    height: 100vh;

    &.active{
        display: none;
        // visibility: hidden;
    }

    &__imgBx{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        position: absolute;
        // background: aqua;
        max-width: 460px;
        top: 45%;
        left: 100px;
        max-height: 354px;

        &__trend{
            // background: gray;
            padding: 5px;
            margin-bottom: 10px;

            span{
                position: relative;
                padding: 0 5px;
                color: rgba(255,255,255, 1);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-left: 5px;
                font-size: 14px;

                &::before{
                    position: absolute;
                    content: ".";
                    top: -50%;
                    left: -5px;
                    transform: translateY(30%);
                    font-weight: 800;
                }

                &:nth-child(1){
                    &::before{
                        content: "";
                    }
                }

                &:nth-child(3){
                    background: rgba(255,60,47,1);
                    border-radius: 5px;
                    margin-left: 8px;
                    text-transform: uppercase;
                    &::before{
                        left: -10px;
                    }

                }
            }
        }

        &__text{
            position: relative;
            // background: green;
            padding: 5px 10px;
            h2{
                color: #fff;
                font-weight: 700;
                line-height: 25px;
            }
            p{
                font-weight: 400;
                margin-top: 15px;
                color: rgba(255,255,255, 1);
            }

            &__btns{
                position: relative;
                width: 100%;
                // background: gray;
                padding: 10px 0;

                a{
                    display: inline-block;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 14px;
                    color: rgba(255,255,255, 1);
                    border-radius: 5px;
                    transition: letter-spacing 0.5s;

                    &:nth-child(1){
                        background: rgba(255,60,47,1);

                    }

                    &:nth-child(2){
                        background: rgba(51,51,51,1);
                        margin-left: 10px;
                    }

                    &:hover{
                        letter-spacing: 2px;
                    }
                }
            }

        }
    }

    &::before{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #000 10%, transparent);
        z-index: 100;
    }

}

.tradingMovies{
    position: relative;
    padding: 20px 80px;
    min-height: 100vh;
    //background: red;

    .trading__text{
        // background: red;
        width: 100%;
        padding-bottom: 20px;
        h2{
            color: #fff;
        }

        &.active{
            display: none;
        }
    }
    .tradingContent{
        position: relative;
        //background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 250px;
            height: 100%;
            background: linear-gradient(to right, #000 40%, transparent);
            z-index: 100;
        }

        &::after{
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            background: linear-gradient(to left, #000 40%, transparent);
        }


        .tradingContent__Bg{
            position: relative;
            padding: 10px 85px;
            padding-left: 60px;
            //background: aqua;
            max-width: 85%;
            width: 100%;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            gap: 15px 10px;
            justify-items: center;


            &:hover{

                &::-webkit-scrollbar-thumb{
                    background: rgb(250, 7, 7);
                }
            }

            &::-webkit-scrollbar{
                height: 8px;
                //display: none;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(240, 5, 5, 0.473);
                border-radius: 20px;
            }
            // &::-webkit-scrollbar-track{
            //     background-color: rgba(0,0,0,0);
            //     border-radius: 20px;
            // }


            // .card{
            //     position: relative;
            //     width: 150px;
            //     height: 250px;
            //     overflow: hidden;
            //     background: rgba(54, 53, 53, 0.2);
            //     padding: 10px 5px 25px;
            //     border-radius: 10px;
            //     cursor: pointer;
            //     //background: aqua;
            //     transition: transform 0.5s;

            //     .card__Image{
            //         width: 100%;
            //         height: 90%;
            //         border-radius: 5px;
            //         overflow: hidden;
            //         img{
            //             width: 100%;
            //             height: 100%;
            //             object-fit: cover;
            //         }
            //     }
            //     .card__content{
            //         padding: 5px;
            //         //margin-top: 5px;
            //         p{
            //             color: #fff;
            //             font-size: .75rem;
            //         }
            //     }

            //     &:hover{
            //         transform: translateY(-10px);
            //         background: rgba(110, 105, 105, 0.342);
            //     }
            // }

        }

        &.active{
            display: none;
        }


    }

    .categories__content{
        position: relative;
        margin-top: 50px;
        padding: 10px 80px;
        // background: aqua;
        box-sizing: border-box;
        .text{
            position: relative;
            //background: gray;
            padding: 0 5px;
            padding-bottom: 10px;
            //width: 100%;
            // background: aqua;

            .categories__end{
                display: none;

                &.active{
                        width: 30px;
                        height: 30px;
                        // background: gray;
                        position: absolute;
                        top: 50%;
                        left: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transform: translate(-50%, -50%);
                        transition: transform 0.5s;
                        transition-delay: 0.25s;
                        // pointer-events: all;

                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            transform: translateY(-5px) rotate(-20deg);
                            border-radius: 5px;
                        }

                        &::after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            transform: translateY(5px) rotate(20deg);
                            border-radius: 5px;
                    }
                }
            }

            h2{
                text-align: center;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 500;

                span{
                    color: rgba(255,60,47,1);
                    font-weight: 800;
                    text-shadow: 0 5px 10px rgba(255,60,47,.5);
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
        .categories__item{
            //background: green;
            padding: 20px;
            //max-width: 900px;
            box-sizing: border-box;


            .categories{
                // background: gray;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                gap: 15px;


                li{
                    list-style: none;
                    background:  rgba(51, 51, 51, 1);
                    color: #fff;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-weight: 100;
                    font-size: 14px;
                    transition: background 0.5s;
                    cursor: pointer;

                    &.list-loading{
                        height: 40px;
                        width: 100px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        background: rgba(110, 105, 105, 0.342);
                        animation: loading-skeleton infinite 1.5s;

                        &:nth-child(2){
                            animation-delay: 0.2s;
                        }
                        &:nth-child(3){
                            animation-delay: 0.25s;
                        }
                        &:nth-child(4){
                            animation-delay: 0.30s;
                        }
                    }

                    &:hover{
                        background: red;
                    }
                }
            }

            &[data-animated=true]{
                overflow: hidden;
                -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
                mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);

                .categories{
                    width: max-content;
                    flex-wrap: nowrap;
                    animation: scroll 40s linear infinite;
                }
            }
        }

        &.active{
                // background: gray;
                // position: relative;
                margin-top: 0px;

        }
    }

    .liked__container{
        // background: aqua;
        position: relative;
        padding: 5px;
        width: 100%;
        margin-bottom: 30px;

        &.active{
            display: none;
        }

        .liked__text{
            // background: green;
            padding: 0 10px;

            h3{
                font-size: 1.3rem;
                color: #fff;
                font-weight: 600;
            }
        }

        .liked__card{

            // background: gray;
            overflow-x: scroll;
            overflow-y: hidden;
            height: 270px;
            white-space: nowrap;
            padding: 8px 15px;
            -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
            mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);

            &:hover{

                &::-webkit-scrollbar-thumb{
                    background: rgb(250, 7, 7);
                }
            }

            &::-webkit-scrollbar{
                height: 8px;
                //display: none;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(240, 5, 5, 0.473);
                border-radius: 20px;
            }

            .card{
                display: inline-block;
                margin-right: 8px;
                // background: red;

            }

        }
    }

    &.active{
        .trading__text{
            // display: none;
            // background: green;
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .tradingContent{
            padding-top: 10px;
            display: none;

            &::before{
                width: 0;
                height: 0;
                background: none;
            }

            &::after{
                width: 0;
                height: 0;
                background: none;
            }

            .tradingContent__Bg{
                // width: 100%;
                // height: 100%;
                // min-height: 100%;
                //background: aqua;
                grid-template-columns: repeat(
                    auto-fill , minmax(150px, 1fr)
                );
                grid-auto-flow: row;
                overflow: visible;
                overscroll-behavior-inline: none;
            }
        }

        .categories__content{
            display: none;
        }

        .liked__container{
            display: none;
        }

        // .genericList-container{
        //     display: flex;
        //     z-index: 10000;
        // }
    }

    .genericList-container{
            display: flex;
            // background: gray;
            position: relative;
            // top: 50px;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            justify-content: center;
            align-items: flex-start;
            // padding: 20px 100px;
            flex-direction: column;
            // // background: aqua;



            &.inactive{
                display: none;
                z-index: -1000;
            }

            .genericList__Bg{
                // background: red;
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                align-items: center;
                gap: 20px 10px;
                justify-items: center;

                //card
            }




    }

    &.inactive{
        display: none;
    }


}

.card{
    position: relative;
    width: 150px;
    height: 250px;
    overflow: hidden;
    background: rgba(54, 53, 53, 0.2);
    padding: 10px 5px 25px;
    border-radius: 10px;
    cursor: pointer;
    //background: aqua;


    &.card-loading{
        background: rgba(110, 105, 105, 0.342);
        animation: loading-skeleton infinite 1.5s;

        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.25s;
        }
        &:nth-child(4){
            animation-delay: 0.30s;
        }

    }


    .card__Image{
        width: 100%;
        height: 90%;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.5s;

        &:hover{
            transform: translateY(-10px);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card__content{
        padding: 5px;
        //margin-top: 5px;
        p{
            color: #fff;
            font-size: .75rem;
        }
    }
    .btnFavorite{
        background: rgba(255,255,255,.1);
        position: absolute;
        top: 12px;
        right: 8px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 30px;

        &:hover{
            background: rgba(0,0,0,.5);
        }

        &::before{
            content: "🤍";
        }

        &.active{
            background: rgba(0,0,0,.5);
            &::before{
                content: "❤️";
            }
        }
    }

    // &:hover{
    //     transform: translateY(-10px);
    //     background: rgba(110, 105, 105, 0.342);
    // }
}

.details{
    position: relative;
    // background: aqua;
    width: 100%;
    min-height: 100vh;
    // overflow: hidden;

    &.inactive{
        display: none;
    }

    .detailsContent{
        position: relative;
        width: 100%;
        height: 100%;
        // min-height: 100vh;
        // background: gray;
        // height: 100vh;

        .backgroundImage{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 10;
            // background: gray;
            opacity: .25;

            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 200px;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, #000, transparent);
            }

            &::after{
                position: absolute;
                content: "";
                width: 300px;
                height: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(to left, #000, transparent);
            }

           img{
            // background: green;
            width: 100%;
            height: 100vh;
            object-fit: fill;

           }
        }

        &__Banner{
            position: relative;
            width: 100%;
            height: 100vh;
            // height: 100vh;
            z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;
            // background: green;
            gap: 20px;
            // overflow-y: scroll;


            .contentImage{
                // background: gray;
                position: relative;
                max-height: 550px;
                max-width: 400px;
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: 0;
                // margin: 0;
                opacity: .7;
                transition: opacity 0.5s ease-in;
                border-radius: 15px;
                box-shadow: 0 5px 15px rgba(255,255,255,.2);

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover{
                    opacity: .9;
                }
            }

            .contentText{
                position: relative;
                // background: gray;
                max-width: 600px;
                // background: rgba(255,255,255,.1);
                border-radius: 5px;
                backdrop-filter: blur(10px);
                background: transparent;
                border: 1px solid rgba(255,255,255,0.5);
                border-bottom: 0.5px solid rgba(255,255,255,0.2);
                border-right: 0.5px solid rgba(255,255,255,0.2);
                padding: 10px 0;

                .back{
                    background: rgba(225, 60, 47, 1);
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: .8rem;
                    color: #fff;
                    padding: 8px 15px;
                    border-radius: 5px;
                    position: absolute;
                    right: 0;
                    top: -40px;
                    // i{
                    //     font-size: 0.8rem;
                    // }
                }
                .textDetails{
                    position: relative;
                    // background: aqua;
                    padding: 5px 15px;
                    // background: gray;

                    i{
                        color: rgba(225, 60, 47, 1);
                        // background: gold;
                    }
                    span{
                        // background:  rgba(225, 60, 47, 1);
                        margin-left: 10px;
                        border-right: 1px solid  rgba(225, 60, 47, .5);
                        padding: 5px 10px;
                        color: #fff;
                    }
                    .content-lang{
                        position: relative;
                        // background: gray;
                        display: inline-block;
                        .lang{
                            // background: aqua;
                            padding: 5px 10px;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 3px;

                            span{
                                padding: 5px 10px;
                                color: #fff;
                                background: rgb(178, 34, 34);
                                border-right: none;
                                border-radius: 2px;
                                cursor: pointer;
                                &:nth-child(2){
                                    background:rgb(153, 50, 204);
                                }
                                &:nth-child(3){
                                    background: rgb(255, 160, 122);
                                }
                            }
                        }
                    }

                }

                .textTitle{
                    // background: aqua;
                    color: #fff;
                    // line-height: 3rem;
                    padding: 10px 15px;

                    h2{
                        font-weight: 700;
                        line-height: 3rem;
                    }
                    p{
                        line-height: 1.2rem;
                    }
                    span{
                        font-size: 0.8rem;
                        display: block;
                        // background: gray;
                        padding: 0;
                        line-height: 2.5rem;
                    }

                    .trailerContent{
                        position: relative;
                        width: 100%;
                        // height: 2px;
                        // background: aqua;

                        .trailerToggle{
                            position: relative;
                            // background: gray;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 5px;
                            span{
                                // background: rgb(178, 34, 34);
                                height: 30px;
                                border-radius: 5px;
                                padding: 0 10px;
                                text-align: center;
                                line-height: 2rem;
                                letter-spacing: 1px;
                            }

                            i{
                                display: inline-block;
                                position: relative;
                                width: 30px;
                                height: 30px;
                                background: rgb(178, 34, 34);
                                border-radius: 50px;
                                cursor: pointer;
                                ion-icon{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                        }

                    }


                }
                .contentCategories{
                    // background: goldenrod;
                    padding: 5px 15px;

                    h3{
                        color: #fff;
                        // background: gray;
                    }
                    .categories{
                        // background: aqua;
                        padding: 5px 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        flex-wrap: wrap;
                        li{
                            list-style: none;
                            background: rgba(51, 51, 51, 1);
                            padding: 5px 10px;
                            border-radius: 5px;
                            color: #fff;
                            font-weight: 100;
                            font-size: 0.9rem;
                            cursor: pointer;
                            transition: background .5s;

                            &:hover{
                                background: rgba(225, 60, 47, 1);
                            }
                            &:nth-child(2){
                                background:rgb(50, 104, 204);
                            }
                            &:nth-child(3){
                                background: rgb(236, 92, 35);
                            }
                            &:last-child{
                                background: rgb(84, 119, 38);
                            }
                        }
                    }
                }
            }

        }

        .detailSimilar{
            position: relative;
            width: 100%;

            .text{
                position: relative;
                // background: red;
                width: 100%;
                padding: 5px;
                h3{
                    // background: aqua;
                    display: inline-block;
                    position: relative;
                    left: 50px;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }

            .detailsSimilar__bg{
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                align-items: center;
                gap: 20px 10px;
                // background: aqua;
                padding: 20px 60px;
                justify-items: center;
            }
        }
    }
    .trailerVideo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        visibility: hidden;
        opacity: 0;

        &.active{
            visibility: visible;
            opacity: 1;
        }


        iframe{
            // width: 70%;
            // height: 50%;
            max-width: 900px;
            max-height: 500px;
            outline: none;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(255,255,255,.5);
        }
    }



}

.close{
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    filter: invert(1);
    max-width: 80px;
    width: 100%;
    // background: aqua;
    font-size: 4rem;
}

.movieList{
    position: relative;
    // background: aqua;
    min-height: 100vh;
    // top: -90px;
    width: 100%;
    height: 100%;
    // top: -50px;

    &.inactive{
        display: none;
    }

    &__Popular{
        // background: gray;

        padding: 0 50px;

        &.active{
            // background: aqua;
            position: relative;
            // top: 60px;
            top: 120px;
            width: 100%;
            min-height: 100vh;

            .movieList__Popular-text{
                // background: gray;
                padding: 5px 10px;
                text-align: center;
            }

            .movieList__Popular-content{
                //  background: green;
                 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                 grid-auto-flow: row;
                 overflow: hidden;
                 gap: 10px;
                 mask: none;
                 -webkit-mask: none;

                 .card__popular{
                    width: 100%;
                    height: 100%;
                 }

            }

            ~{
                .movieList__Upcoming{
                    display: none;
                }
            }

        }

        &.upcoming{
            display: none;
            ~{
                .movieList__Upcoming{
                    // background: aqua;
                    display: relative;
                    margin-top: 0;
                    width: 100%;
                    min-height: 100vh;
                    height: 100%;
                    top: 0;
                    left: 0;

                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }

                    .Upcoming__text{
                        position: absolute;
                        top: 120px;
                    }

                    .Upcoming__bg{
                        // background: gray;
                        position: relative;
                        grid-auto-flow: row;
                        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                        top: 150px;
                        overflow: hidden;
                        gap: 10px 60px;
                    }
                }
            }

        }


        &-text{
            position: relative;
            text-align: center;
            // background: aqua;
            h3{

                color: #fff;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
        }
        &-content{
            // background: green;
            padding: 10px 40px;
            padding-right: 60px;
            min-height: 400px;
            height: 100%;
            overflow-x: scroll;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            gap: 3px;
            justify-items: center;
            -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
            mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
            &::-webkit-scrollbar{
                width: 10px;
                height: 10px;
                //display: none;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(240, 5, 5, 0.473);
                border-radius: 20px;
            }
            &:hover{
                &::-webkit-scrollbar-thumb{
                    background: rgb(250, 7, 7);
                }
            }
            &::-webkit-scrollbar{
                height: 8px;
                width: 5px;
                //display: none;
            }

            .card__popular{
                position: relative;
                // background: aqua;
                display: inline-block;
                width: 120px;
                height: 100%;
                transition: 0.5s;
                transition-delay: 0.25s;
                cursor: pointer;
                overflow: hidden;
                border-radius: 5px;
                opacity: .5;
                &:hover{
                    width: 200px;
                    // grid-column-start: span 2;
                    border: 2px solid rgba(255,255,255,.3);
                    opacity: 1;

                    .text{

                        bottom: 0;
                    }
                }

                .cardImage{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 5px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    // background: aqua;
                }
                .text{
                    position: absolute;
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(15px);
                    bottom: -200px;
                    left: 0;
                    width: 100%;
                    padding: 5px 0;
                    border-radius: 3px;
                    transition: 0.5s;
                    transition-delay: 0.25s;
                    text-align: center;
                    p{
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }


        }
    }

    &__Upcoming{
        position: relative;
        // background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        flex-direction: column;


        .Upcoming__text{
            // background: gray;
            padding: 0 130px;
            width: 100%;
            color: #fff;

            text-transform: uppercase;

            h3{
                font-size: 1.3rem;
                font-weight: 600;
            }
        }


        .Upcoming__bg{
            position: relative;
            padding: 10px 85px;
            // background: aqua;
            max-width: 85%;
            width: 100%;
            overflow-x: scroll;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            gap: 15px 10px;
            justify-items: center;


            &:hover{

                &::-webkit-scrollbar-thumb{
                    background: rgb(250, 7, 7);
                }
            }

            &::-webkit-scrollbar{
                width: 8x;
                height: 8px;
                //display: none;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(240, 5, 5, 0.473);
                border-radius: 20px;
            }


        }

        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 250px;
            height: 100%;
            background: linear-gradient(to right, #000 40%, transparent);
            z-index: 100;
        }

        &::after{
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            background: linear-gradient(to left, #000 40%, transparent);
        }
    }
}

.footer{
    // background: #fff;
    position: relative;
    width: 100%;
    padding: 14px 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
    }

    &.inactive{
        display: none;
    }
}




@keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}

@keyframes reveal{
    from{
        transform: translateY(350px);

    }
    to{
        // bottom: 0;
        transform: translateY(0);
    }
}

@keyframes loading-skeleton{
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
}


@media (max-width: 991px){

    .main{
        &::before{
            height: 25px;
        }
    }

    .head{
        // background: aqua;
        padding: 5px 10px;

        &__logo{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            letter-spacing: -1px;
            // background: gray;
            text-align: center;
            font-weight: 700;
           
            // background: aqua;

            a{
                position: relative;
                top: 8px;
                // background: gray;
                font-size: 1.6rem;
                text-shadow: 0 5px 5px rgba(240, 5, 15, 0.473);
            }

            .langs{
                // background: red;
                left: -60px;
                top: 50px;
            }
        }

        &__nav{
            display: none;
            ul{
                li a {
                    font-size: 1.5em;
                    margin: 10px 0;
                    display: inline-block;
                  }


            }

            &.active{
                display: flex;
                z-index: 100;
                ul{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,.05);
                    backdrop-filter: blur(5px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                ~{
                    input{
                        display: none;
                    }
                }
              }

        }

        .search{
            // background: green;
            right: 20px;
            cursor: pointer;
            padding: 0 10px;
            display: flex;
            align-items: center;

            .icon{
                position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                margin: 0;
                cursor: pointer;

                ion-icon{
                    font-size: 2rem;
                    cursor: pointer;
                }

                &.active{
                    position: fixed;
                    z-index: 10000;
                    left: 15px;
                    // background: aqua;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    transition: 0.5s ease-in;
                    transition-delay: 0.3s;

                    ion-icon{
                        display: none;
                    }

                    &::before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        border-radius: 5px;
                        transform: translateY(-5px) rotate(-30deg);
                    }

                    &::after{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        border-radius: 5px;
                        transform: translateY(5px) rotate(30deg);
                    }
                }
            }

            .search_icon{
                display: none;
                // background: gray;
                width: 100%;
                position: fixed;
                top: 0px;
                left: 0;
                z-index: 1000;
                padding: 10px 0;
                backdrop-filter: blur(10px);

                input{
                    width: 50%;
                }

                &.active{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .trading{
        width: 100%;
        height: 100vh;
        // overflow: hidden;

        &__imgBx{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content{
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            width: 85%;

        }

        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: linear-gradient(to top, #000 10%, transparent);
            z-index: 100;
        }
    }

    .toggle {
        position: relative;
        width: 32px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
        left: 20px;


        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #fff;
          transform: translateY(-10px);
          box-shadow: 0 10px 0 #fff;
          transition: 0.25s;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #fff;
          transform: translateY(10px);
          transition: 0.25s;
        }

        &.active{
            position: fixed;
            left: 20px;
            top: 5px;
            // background: aqua;

            &::before{
                transform: translateY(0) rotate(45deg);
                box-shadow: 0 0 0 #fff;
            }

            &::after{
                transform: rotate(0) rotate(-45deg);
            }


        }
    }

    .tradingMovies{
        padding: 5px 0px;

        .trading__text{
            // background: aqua;
            margin-top: 15px;
            text-align: center;
            h2{
                //background: gray;
                display: inline-block;
                padding: 5px 15px;
                margin-left: 5px;
                font-size: 1.3rem;
            }
        }

        .tradingContent{
            // background: gray;
            margin-top: 0px;
            padding: 30px 0px;

            &::before{
                width: 70px;
                background: linear-gradient(to right, #000 20%, transparent);
            }

            &::after{
                width: 70px;
                background: linear-gradient(to left, #000 20%, transparent);
            }

            .tradingContent__Bg{
                padding: 10px 10px;
                //background: aqua;
                gap: 10px 8px;

                // .card{
                //     //background: red;
                //     padding: 10px 5px 20px;
                // }
            }

        }

        .categories__content{
            // background: green;
            padding: 5px 10px;

            .text{
                // background: red;
                margin-bottom: 15px;
                h2{
                    // background: aqua;
                    padding: 2px 5px;
                    font-size: 1.3rem;
                    letter-spacing: 0;
                    font-weight: 700;
                    span{
                        font-size: 1.2rem;
                        text-transform: capitalize;

                    }
                }

                .categories__end{
                    // background: aqua;

                    &.active{
                        width: 20px;
                        height: 20px;

                        &::before{
                            transform: translateY(-5px) rotate(-30deg);
                        }

                        &::after{
                            transform: translateY(5px) rotate(30deg);
                        }
                    }
                }

            }

            .categories__item{
                //background: red;
                padding: 5px;

                &[data-animated=true]{
                    overflow: hidden;
                    -webkit-mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
                    mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);

                    .categories{
                        flex-wrap: nowrap;
                        animation: scroll 40s linear infinite;
                    }
                }
            }

            &.active{
                // background: gray;
                padding: 2px 10px;

                .text{
                    padding: 0 0;
                    // background: aqua;
                    h2{
                        font-weight: 700;

                    }
                }

                .categories__item{
                    // background: red;
                    padding: 0px;

                    .categories{
                        // background: gray;
                        padding: 3px 5px;
                    }
                }
            }


        }

        &.active{
                padding: 5px 0px;
                //background: aqua;
                .tradingContent{
                    // background: green;

                    .tradingContent__Bg{
                        // background: aqua;
                        padding: 10px 5px;
                        padding-left: 5px;
                        max-width: 90%;
                        width: 100%;

                    }
            }
        }

        .genericList-container{
            // background: aqua;
            padding: 5px 15px;
            justify-content: center;
            align-items: center;
            .genericList__Bg{
                // background: gray;
                margin-top: 15px;
                gap: 8px 5px;
            }
        }
    }

    .card{
        //background: red;
        padding: 10px 5px 20px;
    }

    .details{
        .detailsContent{
            // background: aqua;

            .backgroundImage{
                width: 100%;
            }

            &__Banner{
                flex-direction: column;
                // background: aqua;
                overflow: hidden;
                align-items: center;
                justify-content: flex-start;
                // gap: 0;

                .contentImage{
                    position: relative;
                    opacity: .9;
                    border-radius: 3px;
                    box-shadow: none;

                }
                .contentText{
                    position: absolute;
                    bottom: 0;
                    // left: 50%;
                    // background: gray
                    // transform: translateY(350px);
                    // animation: reveal 2s ease forwards;
                    animation: reveal linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 50px;


                    .back{
                        position: relative;
                        top: 0;
                        left: 10px;
                        margin-bottom: 15px;
                    }

                    .textDetails{
                        line-height: 1.8rem;
                    }

                }

            }

            .detailSimilar{
                // bacKground: aqua;
                padding: 0 10px;

                .text{
                    padding-bottom: 20px;
                    h3{
                        left: 15px;
                    }
                }
                .detailsSimilar__bg{
                    padding: 0 0;
                    gap: 10px 0;
                    // background: gray
                }
            }
        }


    }


    .close{
        top: 40px;
        right: 10px;

    }

    .movieList{
        // background: aqua;
        // top: -100px;
        &__Popular{
            padding: 0 0;
            &-text{
                // background: aqua;
                // padding-left: 15px;
                padding-bottom: 20px;
                // background: aqua;
                text-align: center;

                h3{
                    text-transform: capitalize;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }

            &-content{
                padding: 5px 15px;
                padding-right: 0;
            }
        }
        &__Upcoming{

            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 80px;
                height: 100%;
                background: linear-gradient(to right, #000 40%, transparent);
                z-index: 100;
            }
            &::after{
                position: absolute;
                content: "";
                right: 0;
                top: 0;
                width: 100px;
                height: 100%;
                background: linear-gradient(to left, #000 40%, transparent);
            }


            .Upcoming__text{
                // background: aqua;
                text-transform: capitalize;
                font-size: 1.3rem;
                font-weight: 700;
            }
            .Upcoming__bg{
                // background: aqua;
                padding: 10px 15px;
            }
        }
    }

    .footer{
        // background: #fff;
        position: relative;
        width: 100%;
        padding: 15px 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        p{
            color: #fff;
            font-size: .9rem;
        }

        &.inactive{
            display: none;
        }
    }


}