@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.main {
  position: relative;
  min-height: 100vh;
}

.head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  z-index: 100;
}
.head.active {
  display: none;
}
.head__logo {
  display: inline-block;
  position: relative;
  max-width: 250px;
  max-height: 100px;
  height: 100%;
}
.head__logo a {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-decoration: none;
  color: rgba(255, 60, 47, 0.6);
  text-transform: uppercase;
  letter-spacing: -3px;
}
.head__logo .langs {
  position: absolute;
  left: 0;
  top: 40px;
  background: rgba(0, 0, 0, 0.5);
  width: 30px;
  overflow: hidden;
  padding: 1px 2px;
  height: 40px;
  border-radius: 5px;
  transition: height 0.5s;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition-delay: 0.25s;
}
.head__logo .langs span {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  cursor: pointer;
  z-index: 100;
}
.head__logo .langs span img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head__logo .langs span:first-child {
  margin-top: 13px;
}
.head__logo .langs::before {
  content: "+";
  position: absolute;
  top: -5px;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 20px;
  cursor: pointer;
  transition: transform 1s;
  font-size: 1.2rem;
  text-align: right;
  transform: translate(-4px, 0px);
}
.head__logo .langs.active {
  height: 140px;
}
.head__logo .langs.active::before {
  top: 0;
  transform: translate(13px, -5px) rotate(135deg);
}
.head__nav {
  position: relative;
  padding: 5px;
}
.head__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.head__nav ul li {
  position: relative;
  list-style: none;
  padding: 0 10px;
}
.head__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: 0.5s;
}
.head__nav ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
  transition: 1s;
}
.head__nav ul li:hover a {
  letter-spacing: 1px;
}
.head__nav ul li:hover::after {
  width: 100%;
  background: rgb(255, 60, 47);
}
.head .search {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.head .search .icon {
  position: absolute;
  z-index: 10;
  margin-left: 8px;
  cursor: pointer;
}
.head .search .icon ion-icon {
  color: #fff;
  font-size: 1rem;
}
.head .search .search_icon {
  overflow: hidden;
}
.head .search .search_icon input {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: transparent;
  outline: none;
  padding-left: 30px;
}
.head .search .search_icon input::-moz-placeholder {
  color: #fff;
}
.head .search .search_icon input::placeholder {
  color: #fff;
}

.trading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.trading.active {
  display: none;
}
.trading__imgBx {
  width: 100%;
  height: 100%;
}
.trading__imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trading__content {
  position: absolute;
  max-width: 460px;
  top: 45%;
  left: 100px;
  max-height: 354px;
}
.trading__content__trend {
  padding: 5px;
  margin-bottom: 10px;
}
.trading__content__trend span {
  position: relative;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 5px;
  font-size: 14px;
}
.trading__content__trend span::before {
  position: absolute;
  content: ".";
  top: -50%;
  left: -5px;
  transform: translateY(30%);
  font-weight: 800;
}
.trading__content__trend span:nth-child(1)::before {
  content: "";
}
.trading__content__trend span:nth-child(3) {
  background: rgb(255, 60, 47);
  border-radius: 5px;
  margin-left: 8px;
  text-transform: uppercase;
}
.trading__content__trend span:nth-child(3)::before {
  left: -10px;
}
.trading__content__text {
  position: relative;
  padding: 5px 10px;
}
.trading__content__text h2 {
  color: #fff;
  font-weight: 700;
  line-height: 25px;
}
.trading__content__text p {
  font-weight: 400;
  margin-top: 15px;
  color: rgb(255, 255, 255);
}
.trading__content__text__btns {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.trading__content__text__btns a {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: letter-spacing 0.5s;
}
.trading__content__text__btns a:nth-child(1) {
  background: rgb(255, 60, 47);
}
.trading__content__text__btns a:nth-child(2) {
  background: rgb(51, 51, 51);
  margin-left: 10px;
}
.trading__content__text__btns a:hover {
  letter-spacing: 2px;
}
.trading::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000 10%, transparent);
  z-index: 100;
}

.tradingMovies {
  position: relative;
  padding: 20px 80px;
  min-height: 100vh;
}
.tradingMovies .trading__text {
  width: 100%;
  padding-bottom: 20px;
}
.tradingMovies .trading__text h2 {
  color: #fff;
}
.tradingMovies .trading__text.active {
  display: none;
}
.tradingMovies .tradingContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tradingMovies .tradingContent::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, #000 40%, transparent);
  z-index: 100;
}
.tradingMovies .tradingContent::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(to left, #000 40%, transparent);
}
.tradingMovies .tradingContent .tradingContent__Bg {
  position: relative;
  padding: 10px 85px;
  padding-left: 60px;
  max-width: 85%;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 15px 10px;
  justify-items: center;
}
.tradingMovies .tradingContent .tradingContent__Bg:hover::-webkit-scrollbar-thumb {
  background: rgb(250, 7, 7);
}
.tradingMovies .tradingContent .tradingContent__Bg::-webkit-scrollbar {
  height: 8px;
}
.tradingMovies .tradingContent .tradingContent__Bg::-webkit-scrollbar-thumb {
  background-color: rgba(240, 5, 5, 0.473);
  border-radius: 20px;
}
.tradingMovies .tradingContent.active {
  display: none;
}
.tradingMovies .categories__content {
  position: relative;
  margin-top: 50px;
  padding: 10px 80px;
  box-sizing: border-box;
}
.tradingMovies .categories__content .text {
  position: relative;
  padding: 0 5px;
  padding-bottom: 10px;
}
.tradingMovies .categories__content .text .categories__end {
  display: none;
}
.tradingMovies .categories__content .text .categories__end.active {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  transition-delay: 0.25s;
}
.tradingMovies .categories__content .text .categories__end.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-5px) rotate(-20deg);
  border-radius: 5px;
}
.tradingMovies .categories__content .text .categories__end.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(5px) rotate(20deg);
  border-radius: 5px;
}
.tradingMovies .categories__content .text h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
}
.tradingMovies .categories__content .text h2 span {
  color: rgb(255, 60, 47);
  font-weight: 800;
  text-shadow: 0 5px 10px rgba(255, 60, 47, 0.5);
  text-transform: uppercase;
  font-size: 1.2rem;
}
.tradingMovies .categories__content .categories__item {
  padding: 20px;
  box-sizing: border-box;
}
.tradingMovies .categories__content .categories__item .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 15px;
}
.tradingMovies .categories__content .categories__item .categories li {
  list-style: none;
  background: rgb(51, 51, 51);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 100;
  font-size: 14px;
  transition: background 0.5s;
  cursor: pointer;
}
.tradingMovies .categories__content .categories__item .categories li.list-loading {
  height: 40px;
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  background: rgba(110, 105, 105, 0.342);
  animation: loading-skeleton infinite 1.5s;
}
.tradingMovies .categories__content .categories__item .categories li.list-loading:nth-child(2) {
  animation-delay: 0.2s;
}
.tradingMovies .categories__content .categories__item .categories li.list-loading:nth-child(3) {
  animation-delay: 0.25s;
}
.tradingMovies .categories__content .categories__item .categories li.list-loading:nth-child(4) {
  animation-delay: 0.3s;
}
.tradingMovies .categories__content .categories__item .categories li:hover {
  background: red;
}
.tradingMovies .categories__content .categories__item[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.tradingMovies .categories__content .categories__item[data-animated=true] .categories {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}
.tradingMovies .categories__content.active {
  margin-top: 0px;
}
.tradingMovies .liked__container {
  position: relative;
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
}
.tradingMovies .liked__container.active {
  display: none;
}
.tradingMovies .liked__container .liked__text {
  padding: 0 10px;
}
.tradingMovies .liked__container .liked__text h3 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
}
.tradingMovies .liked__container .liked__card {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 270px;
  white-space: nowrap;
  padding: 8px 15px;
  -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.tradingMovies .liked__container .liked__card:hover::-webkit-scrollbar-thumb {
  background: rgb(250, 7, 7);
}
.tradingMovies .liked__container .liked__card::-webkit-scrollbar {
  height: 8px;
}
.tradingMovies .liked__container .liked__card::-webkit-scrollbar-thumb {
  background-color: rgba(240, 5, 5, 0.473);
  border-radius: 20px;
}
.tradingMovies .liked__container .liked__card .card {
  display: inline-block;
  margin-right: 8px;
}
.tradingMovies.active .trading__text {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.tradingMovies.active .tradingContent {
  padding-top: 10px;
  display: none;
}
.tradingMovies.active .tradingContent::before {
  width: 0;
  height: 0;
  background: none;
}
.tradingMovies.active .tradingContent::after {
  width: 0;
  height: 0;
  background: none;
}
.tradingMovies.active .tradingContent .tradingContent__Bg {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  overflow: visible;
  overscroll-behavior-inline: none;
}
.tradingMovies.active .categories__content {
  display: none;
}
.tradingMovies.active .liked__container {
  display: none;
}
.tradingMovies .genericList-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.tradingMovies .genericList-container.inactive {
  display: none;
  z-index: -1000;
}
.tradingMovies .genericList-container .genericList__Bg {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  gap: 20px 10px;
  justify-items: center;
}
.tradingMovies.inactive {
  display: none;
}

.card {
  position: relative;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background: rgba(54, 53, 53, 0.2);
  padding: 10px 5px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.card.card-loading {
  background: rgba(110, 105, 105, 0.342);
  animation: loading-skeleton infinite 1.5s;
}
.card.card-loading:nth-child(2) {
  animation-delay: 0.2s;
}
.card.card-loading:nth-child(3) {
  animation-delay: 0.25s;
}
.card.card-loading:nth-child(4) {
  animation-delay: 0.3s;
}
.card .card__Image {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s;
}
.card .card__Image:hover {
  transform: translateY(-10px);
}
.card .card__Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card__content {
  padding: 5px;
}
.card .card__content p {
  color: #fff;
  font-size: 0.75rem;
}
.card .btnFavorite {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 30px;
}
.card .btnFavorite:hover {
  background: rgba(0, 0, 0, 0.5);
}
.card .btnFavorite::before {
  content: "🤍";
}
.card .btnFavorite.active {
  background: rgba(0, 0, 0, 0.5);
}
.card .btnFavorite.active::before {
  content: "❤️";
}

.details {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.details.inactive {
  display: none;
}
.details .detailsContent {
  position: relative;
  width: 100%;
  height: 100%;
}
.details .detailsContent .backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0.25;
}
.details .detailsContent .backgroundImage::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #000, transparent);
}
.details .detailsContent .backgroundImage::after {
  position: absolute;
  content: "";
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #000, transparent);
}
.details .detailsContent .backgroundImage img {
  width: 100%;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}
.details .detailsContent__Banner {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.details .detailsContent__Banner .contentImage {
  position: relative;
  max-height: 550px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.5s ease-in;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
.details .detailsContent__Banner .contentImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details .detailsContent__Banner .contentImage:hover {
  opacity: 0.9;
}
.details .detailsContent__Banner .contentText {
  position: relative;
  max-width: 600px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}
.details .detailsContent__Banner .contentText .back {
  background: rgb(225, 60, 47);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: -40px;
}
.details .detailsContent__Banner .contentText .textDetails {
  position: relative;
  padding: 5px 15px;
}
.details .detailsContent__Banner .contentText .textDetails i {
  color: rgb(225, 60, 47);
}
.details .detailsContent__Banner .contentText .textDetails span {
  margin-left: 10px;
  border-right: 1px solid rgba(225, 60, 47, 0.5);
  padding: 5px 10px;
  color: #fff;
}
.details .detailsContent__Banner .contentText .textDetails .content-lang {
  position: relative;
  display: inline-block;
}
.details .detailsContent__Banner .contentText .textDetails .content-lang .lang {
  padding: 5px 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.details .detailsContent__Banner .contentText .textDetails .content-lang .lang span {
  padding: 5px 10px;
  color: #fff;
  background: rgb(178, 34, 34);
  border-right: none;
  border-radius: 2px;
  cursor: pointer;
}
.details .detailsContent__Banner .contentText .textDetails .content-lang .lang span:nth-child(2) {
  background: rgb(153, 50, 204);
}
.details .detailsContent__Banner .contentText .textDetails .content-lang .lang span:nth-child(3) {
  background: rgb(255, 160, 122);
}
.details .detailsContent__Banner .contentText .textTitle {
  color: #fff;
  padding: 10px 15px;
}
.details .detailsContent__Banner .contentText .textTitle h2 {
  font-weight: 700;
  line-height: 3rem;
}
.details .detailsContent__Banner .contentText .textTitle p {
  line-height: 1.2rem;
}
.details .detailsContent__Banner .contentText .textTitle span {
  font-size: 0.8rem;
  display: block;
  padding: 0;
  line-height: 2.5rem;
}
.details .detailsContent__Banner .contentText .textTitle .trailerContent {
  position: relative;
  width: 100%;
}
.details .detailsContent__Banner .contentText .textTitle .trailerContent .trailerToggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.details .detailsContent__Banner .contentText .textTitle .trailerContent .trailerToggle span {
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
}
.details .detailsContent__Banner .contentText .textTitle .trailerContent .trailerToggle i {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: rgb(178, 34, 34);
  border-radius: 50px;
  cursor: pointer;
}
.details .detailsContent__Banner .contentText .textTitle .trailerContent .trailerToggle i ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details .detailsContent__Banner .contentText .contentCategories {
  padding: 5px 15px;
}
.details .detailsContent__Banner .contentText .contentCategories h3 {
  color: #fff;
}
.details .detailsContent__Banner .contentText .contentCategories .categories {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.details .detailsContent__Banner .contentText .contentCategories .categories li {
  list-style: none;
  background: rgb(51, 51, 51);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 100;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.5s;
}
.details .detailsContent__Banner .contentText .contentCategories .categories li:hover {
  background: rgb(225, 60, 47);
}
.details .detailsContent__Banner .contentText .contentCategories .categories li:nth-child(2) {
  background: rgb(50, 104, 204);
}
.details .detailsContent__Banner .contentText .contentCategories .categories li:nth-child(3) {
  background: rgb(236, 92, 35);
}
.details .detailsContent__Banner .contentText .contentCategories .categories li:last-child {
  background: rgb(84, 119, 38);
}
.details .detailsContent .detailSimilar {
  position: relative;
  width: 100%;
}
.details .detailsContent .detailSimilar .text {
  position: relative;
  width: 100%;
  padding: 5px;
}
.details .detailsContent .detailSimilar .text h3 {
  display: inline-block;
  position: relative;
  left: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.details .detailsContent .detailSimilar .detailsSimilar__bg {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  gap: 20px 10px;
  padding: 20px 60px;
  justify-items: center;
}
.details .trailerVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}
.details .trailerVideo.active {
  visibility: visible;
  opacity: 1;
}
.details .trailerVideo iframe {
  max-width: 900px;
  max-height: 500px;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  filter: invert(1);
  max-width: 80px;
  width: 100%;
  font-size: 4rem;
}

.movieList {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
.movieList.inactive {
  display: none;
}
.movieList__Popular {
  padding: 0 50px;
}
.movieList__Popular.active {
  position: relative;
  top: 120px;
  width: 100%;
  min-height: 100vh;
}
.movieList__Popular.active .movieList__Popular-text {
  padding: 5px 10px;
  text-align: center;
}
.movieList__Popular.active .movieList__Popular-content {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  overflow: hidden;
  gap: 10px;
  mask: none;
  -webkit-mask: none;
}
.movieList__Popular.active .movieList__Popular-content .card__popular {
  width: 100%;
  height: 100%;
}
.movieList__Popular.active ~ .movieList__Upcoming {
  display: none;
}
.movieList__Popular.upcoming {
  display: none;
}
.movieList__Popular.upcoming ~ .movieList__Upcoming {
  display: relative;
  margin-top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
}
.movieList__Popular.upcoming ~ .movieList__Upcoming::before {
  display: none;
}
.movieList__Popular.upcoming ~ .movieList__Upcoming::after {
  display: none;
}
.movieList__Popular.upcoming ~ .movieList__Upcoming .Upcoming__text {
  position: absolute;
  top: 120px;
}
.movieList__Popular.upcoming ~ .movieList__Upcoming .Upcoming__bg {
  position: relative;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  top: 150px;
  overflow: hidden;
  gap: 10px 60px;
}
.movieList__Popular-text {
  position: relative;
  text-align: center;
}
.movieList__Popular-text h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.movieList__Popular-content {
  padding: 10px 40px;
  padding-right: 60px;
  min-height: 400px;
  height: 100%;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 3px;
  justify-items: center;
  -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.movieList__Popular-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.movieList__Popular-content::-webkit-scrollbar-thumb {
  background-color: rgba(240, 5, 5, 0.473);
  border-radius: 20px;
}
.movieList__Popular-content:hover::-webkit-scrollbar-thumb {
  background: rgb(250, 7, 7);
}
.movieList__Popular-content::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}
.movieList__Popular-content .card__popular {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.5;
}
.movieList__Popular-content .card__popular:hover {
  width: 200px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  opacity: 1;
}
.movieList__Popular-content .card__popular:hover .text {
  bottom: 0;
}
.movieList__Popular-content .card__popular .cardImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.movieList__Popular-content .card__popular .cardImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movieList__Popular-content .card__popular .text {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  bottom: -200px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  border-radius: 3px;
  transition: 0.5s;
  transition-delay: 0.25s;
  text-align: center;
}
.movieList__Popular-content .card__popular .text p {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}
.movieList__Upcoming {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
}
.movieList__Upcoming .Upcoming__text {
  padding: 0 130px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}
.movieList__Upcoming .Upcoming__text h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.movieList__Upcoming .Upcoming__bg {
  position: relative;
  padding: 10px 85px;
  max-width: 85%;
  width: 100%;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 15px 10px;
  justify-items: center;
}
.movieList__Upcoming .Upcoming__bg:hover::-webkit-scrollbar-thumb {
  background: rgb(250, 7, 7);
}
.movieList__Upcoming .Upcoming__bg::-webkit-scrollbar {
  width: 8x;
  height: 8px;
}
.movieList__Upcoming .Upcoming__bg::-webkit-scrollbar-thumb {
  background-color: rgba(240, 5, 5, 0.473);
  border-radius: 20px;
}
.movieList__Upcoming::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, #000 40%, transparent);
  z-index: 100;
}
.movieList__Upcoming::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(to left, #000 40%, transparent);
}

.footer {
  position: relative;
  width: 100%;
  padding: 14px 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: #fff;
}
.footer.inactive {
  display: none;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes reveal {
  from {
    transform: translateY(350px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
}
@media (max-width: 991px) {
  .main::before {
    height: 25px;
  }
  .head {
    padding: 5px 10px;
  }
  .head__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
  }
  .head__logo a {
    position: relative;
    top: 8px;
    font-size: 1.6rem;
    text-shadow: 0 5px 5px rgba(240, 5, 15, 0.473);
  }
  .head__logo .langs {
    left: -60px;
    top: 50px;
  }
  .head__nav {
    display: none;
  }
  .head__nav ul li a {
    font-size: 1.5em;
    margin: 10px 0;
    display: inline-block;
  }
  .head__nav.active {
    display: flex;
    z-index: 100;
  }
  .head__nav.active ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .head__nav.active ~ input {
    display: none;
  }
  .head .search {
    right: 20px;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  .head .search .icon {
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  .head .search .icon ion-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  .head .search .icon.active {
    position: fixed;
    z-index: 10000;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in;
    transition-delay: 0.3s;
  }
  .head .search .icon.active ion-icon {
    display: none;
  }
  .head .search .icon.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: translateY(-5px) rotate(-30deg);
  }
  .head .search .icon.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: translateY(5px) rotate(30deg);
  }
  .head .search .search_icon {
    display: none;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .head .search .search_icon input {
    width: 50%;
  }
  .head .search .search_icon.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trading {
    width: 100%;
    height: 100vh;
  }
  .trading__imgBx {
    width: 100%;
    height: 100%;
  }
  .trading__imgBx img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .trading__content {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
  }
  .trading::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #000 10%, transparent);
    z-index: 100;
  }
  .toggle {
    position: relative;
    width: 32px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    left: 20px;
  }
  .toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
    transition: 0.25s;
  }
  .toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.25s;
  }
  .toggle.active {
    position: fixed;
    left: 20px;
    top: 5px;
  }
  .toggle.active::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }
  .toggle.active::after {
    transform: rotate(0) rotate(-45deg);
  }
  .tradingMovies {
    padding: 5px 0px;
  }
  .tradingMovies .trading__text {
    margin-top: 15px;
    text-align: center;
  }
  .tradingMovies .trading__text h2 {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 5px;
    font-size: 1.3rem;
  }
  .tradingMovies .tradingContent {
    margin-top: 0px;
    padding: 30px 0px;
  }
  .tradingMovies .tradingContent::before {
    width: 70px;
    background: linear-gradient(to right, #000 20%, transparent);
  }
  .tradingMovies .tradingContent::after {
    width: 70px;
    background: linear-gradient(to left, #000 20%, transparent);
  }
  .tradingMovies .tradingContent .tradingContent__Bg {
    padding: 10px 10px;
    gap: 10px 8px;
  }
  .tradingMovies .categories__content {
    padding: 5px 10px;
  }
  .tradingMovies .categories__content .text {
    margin-bottom: 15px;
  }
  .tradingMovies .categories__content .text h2 {
    padding: 2px 5px;
    font-size: 1.3rem;
    letter-spacing: 0;
    font-weight: 700;
  }
  .tradingMovies .categories__content .text h2 span {
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .tradingMovies .categories__content .text .categories__end.active {
    width: 20px;
    height: 20px;
  }
  .tradingMovies .categories__content .text .categories__end.active::before {
    transform: translateY(-5px) rotate(-30deg);
  }
  .tradingMovies .categories__content .text .categories__end.active::after {
    transform: translateY(5px) rotate(30deg);
  }
  .tradingMovies .categories__content .categories__item {
    padding: 5px;
  }
  .tradingMovies .categories__content .categories__item[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
    mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
  }
  .tradingMovies .categories__content .categories__item[data-animated=true] .categories {
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
  }
  .tradingMovies .categories__content.active {
    padding: 2px 10px;
  }
  .tradingMovies .categories__content.active .text {
    padding: 0 0;
  }
  .tradingMovies .categories__content.active .text h2 {
    font-weight: 700;
  }
  .tradingMovies .categories__content.active .categories__item {
    padding: 0px;
  }
  .tradingMovies .categories__content.active .categories__item .categories {
    padding: 3px 5px;
  }
  .tradingMovies.active {
    padding: 5px 0px;
  }
  .tradingMovies.active .tradingContent .tradingContent__Bg {
    padding: 10px 5px;
    padding-left: 5px;
    max-width: 90%;
    width: 100%;
  }
  .tradingMovies .genericList-container {
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
  }
  .tradingMovies .genericList-container .genericList__Bg {
    margin-top: 15px;
    gap: 8px 5px;
  }
  .card {
    padding: 10px 5px 20px;
  }
  .details .detailsContent .backgroundImage {
    width: 100%;
  }
  .details .detailsContent__Banner {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
  }
  .details .detailsContent__Banner .contentImage {
    position: relative;
    opacity: 0.9;
    border-radius: 3px;
    box-shadow: none;
  }
  .details .detailsContent__Banner .contentText {
    position: absolute;
    bottom: 0;
    animation: reveal linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 50px;
  }
  .details .detailsContent__Banner .contentText .back {
    position: relative;
    top: 0;
    left: 10px;
    margin-bottom: 15px;
  }
  .details .detailsContent__Banner .contentText .textDetails {
    line-height: 1.8rem;
  }
  .details .detailsContent .detailSimilar {
    padding: 0 10px;
  }
  .details .detailsContent .detailSimilar .text {
    padding-bottom: 20px;
  }
  .details .detailsContent .detailSimilar .text h3 {
    left: 15px;
  }
  .details .detailsContent .detailSimilar .detailsSimilar__bg {
    padding: 0 0;
    gap: 10px 0;
  }
  .close {
    top: 40px;
    right: 10px;
  }
  .movieList__Popular {
    padding: 0 0;
  }
  .movieList__Popular-text {
    padding-bottom: 20px;
    text-align: center;
  }
  .movieList__Popular-text h3 {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .movieList__Popular-content {
    padding: 5px 15px;
    padding-right: 0;
  }
  .movieList__Upcoming::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, #000 40%, transparent);
    z-index: 100;
  }
  .movieList__Upcoming::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, #000 40%, transparent);
  }
  .movieList__Upcoming .Upcoming__text {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .movieList__Upcoming .Upcoming__bg {
    padding: 10px 15px;
  }
  .footer {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer p {
    color: #fff;
    font-size: 0.9rem;
  }
  .footer.inactive {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */