* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.main {
  position: relative;
  min-height: 100vh;
}

.head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  z-index: 100;
}
.head.active {
  display: none;
}
.head__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-decoration: none;
  color: rgb(255, 60, 47);
  text-transform: uppercase;
  letter-spacing: -4px;
}
.head__nav {
  position: relative;
  padding: 5px;
}
.head__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.head__nav ul li {
  position: relative;
  list-style: none;
  padding: 0 10px;
}
.head__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: 0.5s;
}
.head__nav ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
  transition: 1s;
}
.head__nav ul li:hover a {
  letter-spacing: 1px;
}
.head__nav ul li:hover::after {
  width: 100%;
  background: rgb(255, 60, 47);
}
.head .search {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.head .search .icon {
  position: absolute;
  z-index: 10;
  margin-left: 8px;
  cursor: pointer;
}
.head .search .icon ion-icon {
  color: #fff;
  font-size: 1rem;
}
.head .search .search_icon {
  overflow: hidden;
}
.head .search .search_icon input {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: transparent;
  outline: none;
  padding-left: 30px;
}
.head .search .search_icon input::-moz-placeholder {
  color: #fff;
}
.head .search .search_icon input::placeholder {
  color: #fff;
}

.trading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.trading.active {
  display: none;
}
.trading__imgBx {
  width: 100%;
  height: 100%;
}
.trading__imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trading__content {
  position: absolute;
  max-width: 460px;
  top: 45%;
  left: 100px;
  max-height: 354px;
}
.trading__content__trend {
  padding: 5px;
  margin-bottom: 10px;
}
.trading__content__trend span {
  position: relative;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 5px;
  font-size: 14px;
}
.trading__content__trend span::before {
  position: absolute;
  content: ".";
  top: -50%;
  left: -5px;
  transform: translateY(30%);
  font-weight: 800;
}
.trading__content__trend span:nth-child(1)::before {
  content: "";
}
.trading__content__trend span:nth-child(3) {
  background: rgb(255, 60, 47);
  border-radius: 5px;
  margin-left: 8px;
  text-transform: uppercase;
}
.trading__content__trend span:nth-child(3)::before {
  left: -10px;
}
.trading__content__text {
  position: relative;
  padding: 5px 10px;
}
.trading__content__text h2 {
  color: #fff;
  font-weight: 700;
  line-height: 25px;
}
.trading__content__text p {
  font-weight: 400;
  margin-top: 15px;
  color: rgb(255, 255, 255);
}
.trading__content__text__btns {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.trading__content__text__btns a {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: letter-spacing 0.5s;
}
.trading__content__text__btns a:nth-child(1) {
  background: rgb(255, 60, 47);
}
.trading__content__text__btns a:nth-child(2) {
  background: rgb(51, 51, 51);
  margin-left: 10px;
}
.trading__content__text__btns a:hover {
  letter-spacing: 2px;
}
.trading::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #000 10%, transparent);
  z-index: 100;
}

.tradingMovies {
  position: relative;
  padding: 20px 80px;
  min-height: 100vh;
}
.tradingMovies .trading__text {
  width: 100%;
  padding-bottom: 20px;
}
.tradingMovies .trading__text h2 {
  color: #fff;
}
.tradingMovies .trading__text.active {
  display: none;
}
.tradingMovies .tradingContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tradingMovies .tradingContent::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, #000 40%, transparent);
  z-index: 100;
}
.tradingMovies .tradingContent::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(to left, #000 40%, transparent);
}
.tradingMovies .tradingContent .tradingContent__Bg {
  position: relative;
  padding: 10px 85px;
  padding-left: 60px;
  max-width: 85%;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 15px 10px;
}
.tradingMovies .tradingContent .tradingContent__Bg:hover::-webkit-scrollbar-thumb {
  background: rgb(250, 7, 7);
}
.tradingMovies .tradingContent .tradingContent__Bg::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.tradingMovies .tradingContent .tradingContent__Bg::-webkit-scrollbar-thumb {
  background-color: rgba(240, 5, 5, 0.473);
  border-radius: 20px;
}
.tradingMovies .tradingContent .tradingContent__Bg::-webkit-scrollbar-track {
  background-color: rgba(179, 93, 93, 0.6);
  border-radius: 20px;
}
.tradingMovies .tradingContent .tradingContent__Bg .card {
  position: relative;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background: rgba(54, 53, 53, 0.2);
  padding: 10px 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
.tradingMovies .tradingContent .tradingContent__Bg .card .card__Image {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
}
.tradingMovies .tradingContent .tradingContent__Bg .card .card__Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tradingMovies .tradingContent .tradingContent__Bg .card .card__content {
  padding: 5px;
}
.tradingMovies .tradingContent .tradingContent__Bg .card .card__content p {
  color: #fff;
  font-size: 0.75rem;
}
.tradingMovies .tradingContent .tradingContent__Bg .card:hover {
  transform: translateY(-10px);
  background: rgba(110, 105, 105, 0.342);
}
.tradingMovies .tradingContent.active {
  display: none;
}
.tradingMovies .categories__content {
  position: relative;
  margin-top: 50px;
  padding: 10px 80px;
  box-sizing: border-box;
}
.tradingMovies .categories__content .text {
  position: relative;
  padding: 0 5px;
  padding-bottom: 10px;
}
.tradingMovies .categories__content .text .categories__end {
  display: none;
}
.tradingMovies .categories__content .text .categories__end.active {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  transition-delay: 0.25s;
}
.tradingMovies .categories__content .text .categories__end.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-5px) rotate(-20deg);
  border-radius: 5px;
}
.tradingMovies .categories__content .text .categories__end.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(5px) rotate(20deg);
  border-radius: 5px;
}
.tradingMovies .categories__content .text h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
}
.tradingMovies .categories__content .text h2 span {
  color: rgb(255, 60, 47);
  font-weight: 800;
  text-shadow: 0 5px 10px rgba(255, 60, 47, 0.5);
  text-transform: uppercase;
  font-size: 1.2rem;
}
.tradingMovies .categories__content .categories__item {
  padding: 20px;
  box-sizing: border-box;
}
.tradingMovies .categories__content .categories__item .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 15px;
}
.tradingMovies .categories__content .categories__item .categories li {
  list-style: none;
  background: rgb(51, 51, 51);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 100;
  font-size: 14px;
  transition: background 0.5s;
  cursor: pointer;
}
.tradingMovies .categories__content .categories__item .categories li:hover {
  background: red;
}
.tradingMovies .categories__content .categories__item[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.tradingMovies .categories__content .categories__item[data-animated=true] .categories {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}
.tradingMovies .categories__content.active {
  margin-top: 0px;
}
.tradingMovies.active .trading__text {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.tradingMovies.active .tradingContent {
  padding-top: 10px;
}
.tradingMovies.active .tradingContent::before {
  width: 0;
  height: 0;
  background: none;
}
.tradingMovies.active .tradingContent::after {
  width: 0;
  height: 0;
  background: none;
}
.tradingMovies.active .tradingContent .tradingContent__Bg {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  overflow: visible;
  overscroll-behavior-inline: none;
}
.tradingMovies.active .categories__content {
  display: none;
}
.tradingMovies .genericList-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 100px;
  flex-direction: column;
}
.tradingMovies .genericList-container.inactive {
  display: none;
  z-index: -1000;
}
.tradingMovies .genericList-container .genericList__Bg {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  gap: 20px 10px;
}
.tradingMovies .genericList-container .genericList__Bg .card {
  position: relative;
  width: 150px;
  height: 250px;
  overflow: hidden;
  background: rgba(54, 53, 53, 0.2);
  padding: 10px 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}
.tradingMovies .genericList-container .genericList__Bg .card .card__Image {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
}
.tradingMovies .genericList-container .genericList__Bg .card .card__Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tradingMovies .genericList-container .genericList__Bg .card .card__content {
  padding: 5px;
}
.tradingMovies .genericList-container .genericList__Bg .card .card__content p {
  color: #fff;
  font-size: 0.75rem;
}
.tradingMovies .genericList-container .genericList__Bg .card:hover {
  transform: translateY(-10px);
  background: rgba(110, 105, 105, 0.342);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@media (max-width: 991px) {
  .main::before {
    height: 25px;
  }
  .head {
    padding: 5px 10px;
  }
  .head__logo {
    position: absolute;
    left: 50%;
    font-size: 24px;
    transform: translateX(-50%);
  }
  .head__nav {
    display: none;
  }
  .head__nav ul li a {
    font-size: 1.5em;
    margin: 10px 0;
    display: inline-block;
  }
  .head__nav.active {
    display: flex;
    z-index: 100;
  }
  .head__nav.active ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .head__nav.active ~ input {
    display: none;
  }
  .head .search {
    right: 20px;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  .head .search .icon {
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  .head .search .icon ion-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  .head .search .icon.active {
    position: fixed;
    z-index: 10000;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in;
    transition-delay: 0.3s;
  }
  .head .search .icon.active ion-icon {
    display: none;
  }
  .head .search .icon.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: translateY(-5px) rotate(-30deg);
  }
  .head .search .icon.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: translateY(5px) rotate(30deg);
  }
  .head .search .search_icon {
    display: none;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .head .search .search_icon input {
    width: 50%;
  }
  .head .search .search_icon.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trading {
    width: 100%;
  }
  .trading__imgBx {
    width: 100%;
    height: 100%;
  }
  .trading__imgBx img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .trading__content {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
  }
  .toggle {
    position: relative;
    width: 32px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    left: 20px;
  }
  .toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
    transition: 0.25s;
  }
  .toggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.25s;
  }
  .toggle.active {
    position: fixed;
    left: 20px;
    top: 5px;
  }
  .toggle.active::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }
  .toggle.active::after {
    transform: rotate(0) rotate(-45deg);
  }
  .tradingMovies {
    padding: 5px 0px;
  }
  .tradingMovies .trading__text {
    margin-top: 15px;
  }
  .tradingMovies .trading__text h2 {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 5px;
  }
  .tradingMovies .tradingContent {
    margin-top: 0px;
    padding: 30px 0px;
  }
  .tradingMovies .tradingContent::before {
    width: 70px;
    background: linear-gradient(to right, #000 20%, transparent);
  }
  .tradingMovies .tradingContent::after {
    width: 70px;
    background: linear-gradient(to left, #000 20%, transparent);
  }
  .tradingMovies .tradingContent .tradingContent__Bg {
    padding: 10px 10px;
    gap: 10px 8px;
  }
  .tradingMovies .tradingContent .tradingContent__Bg .card {
    padding: 10px 5px 20px;
  }
  .tradingMovies .categories__content {
    padding: 5px 10px;
  }
  .tradingMovies .categories__content .text {
    margin-bottom: 15px;
  }
  .tradingMovies .categories__content .text h2 {
    padding: 2px 5px;
    font-size: 1rem;
    letter-spacing: 0;
  }
  .tradingMovies .categories__content .text h2 span {
    font-size: 1rem;
  }
  .tradingMovies .categories__content .text .categories__end.active {
    width: 20px;
    height: 20px;
  }
  .tradingMovies .categories__content .text .categories__end.active::before {
    transform: translateY(-5px) rotate(-30deg);
  }
  .tradingMovies .categories__content .text .categories__end.active::after {
    transform: translateY(5px) rotate(30deg);
  }
  .tradingMovies .categories__content .categories__item {
    padding: 5px;
  }
  .tradingMovies .categories__content .categories__item[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
    mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
  }
  .tradingMovies .categories__content .categories__item[data-animated=true] .categories {
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
  }
  .tradingMovies .categories__content.active {
    padding: 2px 10px;
  }
  .tradingMovies .categories__content.active .text {
    padding: 0 0;
  }
  .tradingMovies .categories__content.active .text h2 {
    font-weight: 700;
  }
  .tradingMovies .categories__content.active .categories__item {
    padding: 0px;
  }
  .tradingMovies .categories__content.active .categories__item .categories {
    padding: 3px 5px;
  }
  .tradingMovies.active {
    padding: 5px 0px;
  }
  .tradingMovies.active .tradingContent .tradingContent__Bg {
    padding: 10px 5px;
    padding-left: 5px;
    max-width: 90%;
    width: 100%;
  }
  .tradingMovies .genericList-container {
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
  }
  .tradingMovies .genericList-container .genericList__Bg {
    margin-top: 15px;
    gap: 8px 5px;
  }
}/*# sourceMappingURL=style.css.map */