*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #000;
}

.main{
    position: relative;
    min-height: 100vh;
    // padding: 0 100px;

}

.head{
    position: absolute;
    display: flex;
    justify-content: space-between;
    // background: aqua;
    align-items: center;
    width: 100%;
    padding: 15px 50px;
    z-index: 100;

    &.active{
        display: none;
    }

    &__logo{
        // background: gray;
        display: inline-block;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-decoration: none;
        color: rgba(255,60,47,1);
        text-transform: uppercase;
        letter-spacing: -4px;
    }
    &__nav{
        // background: gray;
        position: relative;
        padding: 5px;

        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            li{
                position: relative;
                list-style: none;
                // background: aqua;
                padding: 0 10px;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 300;
                    transition: 0.5s;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    bottom: -10px;
                    left: 0;
                    border-radius: 10px;
                    transition: 1s;
                }

                &:hover{
                    a{
                        letter-spacing: 1px;
                    }

                    &::after{
                        width: 100%;
                        background: rgba(255,60,47,1);
                    }
                }
            }

        }
    }
    .search{
        // background: gray;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
        .icon{
            position: absolute;
            z-index: 10;
            margin-left: 8px;

            ion-icon{
                color: #fff;
                font-size: 1rem;
            }
        }

        .search_icon{
            // background: green;
            overflow: hidden;
            input{
                position: relative;
                border: 1px solid rgba(255,255,255,.5);
                padding: 5px 15px;
                border-radius: 5px;
                color: #fff;
                backdrop-filter: blur(5px);
                background: transparent;
                outline: none;
                padding-left: 30px;
        
                &::placeholder{
                    color: #fff;
                }
            }
        }
    }
}

.trading{
    position: relative;
    //background: aqua;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &.active{
        display: none;
    }

    &__imgBx{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        position: absolute;
        // background: aqua;
        max-width: 460px;
        top: 45%;
        left: 100px;
        max-height: 354px;

        &__trend{
            // background: gray;
            padding: 5px;
            margin-bottom: 10px;

            span{
                position: relative;
                padding: 0 5px;
                color: rgba(255,255,255, 1);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-left: 5px;
                font-size: 14px;

                &::before{
                    position: absolute;
                    content: ".";
                    top: -50%;
                    left: -5px;
                    transform: translateY(30%);
                    font-weight: 800;
                }

                &:nth-child(1){
                    &::before{
                        content: "";
                    }
                }

                &:nth-child(3){
                    background: rgba(255,60,47,1);
                    border-radius: 5px;
                    margin-left: 8px;
                    text-transform: uppercase;
                    &::before{
                        left: -10px;
                    }

                }
            }
        }

        &__text{
            position: relative;
            // background: green;
            padding: 5px 10px;
            h2{
                color: #fff;
                font-weight: 700;
                line-height: 25px;
            }
            p{
                font-weight: 400;
                margin-top: 15px;
                color: rgba(255,255,255, 1);
            }

            &__btns{
                position: relative;
                width: 100%;
                // background: gray;
                padding: 10px 0;

                a{
                    display: inline-block;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 14px;
                    color: rgba(255,255,255, 1);
                    border-radius: 5px;
                    transition: letter-spacing 0.5s;

                    &:nth-child(1){
                        background: rgba(255,60,47,1);
                        
                    }

                    &:nth-child(2){
                        background: rgba(51,51,51,1);
                        margin-left: 10px;
                    }

                    &:hover{
                        letter-spacing: 2px;
                    }
                }
            }

        }
    }

    &::before{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(to top, #000 10%, transparent);
        z-index: 100;
    }
 
}

.tradingMovies{
    position: relative;
    padding: 20px 80px;
    min-height: 100vh;
    //background: red;

    .trading__text{
        // background: red;
        width: 100%;
        padding-bottom: 20px;
        h2{
            color: #fff;
        }

        &.active{
            display: none;
        }
    }
    .tradingContent{
        position: relative;
        //background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 250px;
            height: 100%;
            background: linear-gradient(to right, #000 40%, transparent);
            z-index: 100;
        }

        &::after{
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            width: 300px;
            height: 100%;
            background: linear-gradient(to left, #000 40%, transparent);
        }
       

        .tradingContent__Bg{
            position: relative;
            padding: 10px 85px;
            padding-left: 60px;
            //background: aqua;
            max-width: 85%;
            width: 100%;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: column;
            gap: 15px 10px;
           

            &:hover{
               
                &::-webkit-scrollbar-thumb{
                    background: rgb(250, 7, 7);
                }
            }
       
            &::-webkit-scrollbar{
                width: 10px;
                height: 10px;
                //display: none;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(240, 5, 5, 0.473);
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track{
                background-color: rgba(179, 93, 93, 0.6);
                border-radius: 20px;
            }
            

            .card{
                position: relative;
                width: 150px;
                height: 250px;
                overflow: hidden;
                background: rgba(54, 53, 53, 0.2);
                padding: 10px 5px 25px;
                border-radius: 10px;
                cursor: pointer;
                //background: aqua;
                transition: transform 0.5s;
    
                .card__Image{
                    width: 100%;
                    height: 90%;
                    border-radius: 5px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .card__content{
                    padding: 5px;
                    //margin-top: 5px;
                    p{
                        color: #fff;
                        font-size: .75rem;
                    }
                }

                &:hover{
                    transform: translateY(-10px);
                    background: rgba(110, 105, 105, 0.342);
                }
            }

        }

        &.active{
            display: none;
        }

        
    }

    .categories__content{
        position: relative;
        margin-top: 50px;
        padding: 10px 80px;
        // background: aqua;
        box-sizing: border-box;
        .text{
            position: relative;
            //background: gray;
            padding: 0 5px;
            padding-bottom: 10px;
            //width: 100%;
            // background: aqua;

            .categories__end{
                display: none;

                &.active{
                        width: 30px;
                        height: 30px;
                        // background: gray;
                        position: absolute;
                        top: 50%;
                        left: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transform: translate(-50%, -50%);
                        transition: transform 0.5s;
                        transition-delay: 0.25s;
                        // pointer-events: all;
        
                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            transform: translateY(-5px) rotate(-20deg);
                            border-radius: 5px;
                        }
        
                        &::after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            transform: translateY(5px) rotate(20deg);
                            border-radius: 5px;
                    }
                }
            }

            h2{
                text-align: center;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 500;

                span{
                    color: rgba(255,60,47,1);
                    font-weight: 800;
                    text-shadow: 0 5px 10px rgba(255,60,47,.5);
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
        .categories__item{
            //background: green;
            padding: 20px;
            //max-width: 900px;
            box-sizing: border-box;
          

            .categories{
                //background: gray;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                gap: 15px;
               

                li{
                    list-style: none;
                    background:  rgba(51, 51, 51, 1);
                    color: #fff;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-weight: 100;
                    font-size: 14px;
                    transition: background 0.5s;
                    cursor: pointer;

                    &:hover{
                        background: red;
                    }
                }
            }

            &[data-animated=true]{
                overflow: hidden;
                -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
                mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);

                .categories{
                    width: max-content;
                    flex-wrap: nowrap;
                    animation: scroll 40s linear infinite;
                }
            }
        }

        &.active{
                // background: gray;
                // position: relative;
                margin-top: 0px;

        }
    }

    &.active{
        .trading__text{
            // display: none;
            // background: green;
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .tradingContent{
            // background: gray;
            // width: 100%;
            // height: 100%;
            // min-height: 100vh;
            padding-top: 10px;

            &::before{
                width: 0;
                height: 0;
                background: none;
            }

            &::after{
                width: 0;
                height: 0;
                background: none;
            }

            .tradingContent__Bg{
                // width: 100%;
                // height: 100%;
                // min-height: 100%;
                //background: aqua;
                grid-template-columns: repeat(
                    auto-fill , minmax(150px, 1fr)
                );
                grid-auto-flow: row;
                overflow: visible;
                overscroll-behavior-inline: none;
            }
        }

        .categories__content{
            // background: gray;
            // position: absolute;
            // top: 10px;
            // left: 0;
            // max-width: 100%;
            // width: 100%;
            // padding: 5px 40px;
            display: none;
        }
    }

    .genericList-container{
            display: flex;
            // background: gray;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10000;
            justify-content: center;
            align-items: flex-start;
            padding: 20px 100px;
            flex-direction: column;
            // // background: aqua;

           

            &.inactive{
                display: none;
                z-index: -1000;
            }

            .genericList__Bg{
                // background: red;
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                align-items: center;
                gap: 20px 10px;

                .card{
                    position: relative;
                    width: 150px;
                    height: 250px;
                    overflow: hidden;
                    background: rgba(54, 53, 53, 0.2);
                    padding: 10px 5px 25px;
                    border-radius: 10px;
                    cursor: pointer;
                    //background: aqua;
                    transition: transform 0.5s;
        
                    .card__Image{
                        width: 100%;
                        height: 90%;
                        border-radius: 5px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .card__content{
                        padding: 5px;
                        //margin-top: 5px;
                        p{
                            color: #fff;
                            font-size: .75rem;
                        }
                    }
    
                    &:hover{
                        transform: translateY(-10px);
                        background: rgba(110, 105, 105, 0.342);
                    }
                }
    

            }

            

     
    }

}




@keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}


@media (max-width: 991px){

    .main{
        &::before{
            height: 25px;
        }
    }

    .head{
        // background: aqua;
        padding: 5px 10px;

        &__logo{
            position: absolute;
            left: 50%;
            font-size: 24px;
            transform: translateX(-50%);
        }

        &__nav{
            display: none;
            ul{
                li a {
                    font-size: 1.5em;
                    margin: 10px 0;
                    display: inline-block;
                  }

               
            }

            &.active{
                display: flex;
                z-index: 100;
                ul{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,.05);
                    backdrop-filter: blur(5px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                ~{
                    input{
                        display: none;
                    }
                }
              }
            
        }

        .search{
            // background: green;
            right: 20px;
            cursor: pointer;
            padding: 0 10px;

            .icon{
                position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                margin: 0;
              

                ion-icon{
                    font-size: 2rem;
                }
            }

            .search_icon{
                display: none;
            }
        }
    }

    .trading{
        width: 100%;
        // overflow: hidden;

        &__imgBx{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content{
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            // background: aqua;
            width: 85%;

        }
    }

    .toggle {
        position: relative;
        width: 32px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
        left: 20px;
       
    
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #fff;
          transform: translateY(-10px);
          box-shadow: 0 10px 0 #fff;
          transition: 0.25s;
        }
    
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #fff;
          transform: translateY(10px);
          transition: 0.25s;
        }

        &.active{
            position: fixed;
            left: 20px;
            top: 5px;
            // background: aqua;

            &::before{
                transform: translateY(0) rotate(45deg);
                box-shadow: 0 0 0 #fff;
            }

            &::after{
                transform: rotate(0) rotate(-45deg);
            }

            
        }
    }

    .tradingMovies{
        padding: 5px 0px;
       
        .trading__text{
            //background: aqua;
            margin-top: 15px;
            h2{
                //background: gray;
                display: inline-block;
                padding: 5px 15px;
                margin-left: 5px;
            }
        }

        .tradingContent{
            // background: gray;
            margin-top: 0px;
            padding: 30px 0px;

            &::before{
                width: 70px;
                background: linear-gradient(to right, #000 20%, transparent);
            }

            &::after{
                width: 70px;
                background: linear-gradient(to left, #000 20%, transparent);
            }

            .tradingContent__Bg{
                padding: 10px 10px;
                //background: aqua;
                gap: 10px 8px;

                .card{
                    //background: red;
                    padding: 10px 5px 20px;
                }
            }

        }

        .categories__content{
            // background: green;
            padding: 5px 10px;

            .text{
                // background: red;
                margin-bottom: 15px;
                h2{
                    // background: aqua;
                    padding: 2px 5px;
                    font-size: 1rem;
                    letter-spacing: 0;
                    span{
                        font-size: 1rem;
                    }
                }

                .categories__end{
                    // background: aqua;

                    &.active{
                        width: 20px;
                        height: 20px;

                        &::before{
                            transform: translateY(-5px) rotate(-30deg);
                        }

                        &::after{
                            transform: translateY(5px) rotate(30deg);
                        }
                    }
                }
               
            }

            .categories__item{
                //background: red;
                padding: 5px;

                &[data-animated=true]{
                    overflow: hidden;
                    -webkit-mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
                    mask: linear-gradient(90deg, transparent, #fff 5%, #fff 45%, transparent);
    
                    .categories{
                        flex-wrap: nowrap;
                        animation: scroll 40s linear infinite;
                    }
                }
            }

            &.active{
                // background: gray;
                padding: 2px 10px;

                .text{
                    padding: 0 0;
                    // background: aqua;
                    h2{
                        font-weight: 700;
                       
                    }
                }

                .categories__item{
                    // background: red;
                    padding: 0px;

                    .categories{
                        // background: gray;
                        padding: 3px 5px;
                    }
                }
            }

          
        }

        &.active{
                padding: 5px 0px;
                //background: aqua;
                .tradingContent{
                    // background: green;
    
                    .tradingContent__Bg{
                        // background: aqua;
                        padding: 10px 5px;
                        padding-left: 5px;
                        max-width: 90%;
                        width: 100%;
    
                    }
            }
        }

        .genericList-container{
            // background: aqua;
            padding: 5px 15px;
            justify-content: center;
            align-items: center;
            .genericList__Bg{
                // background: gray;
                margin-top: 15px;
                gap: 8px 5px;
            }
        }
    }

   

}